* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
}
/*整体灰色背景*/
.v5_320 {
    width: 1728px;
    height: 1117px;
    background: rgba(238,238,238,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

/*=================导航栏相关==================*/
/*上方导航栏*/
.v5_172 {
    position: absolute;
    width: 1570px;
    height: 94px;
    left: 79px;
    top: 0px;
    background: #F8F8F8;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 50px 50px;
}
/*PIECES 字样*/
.v5_173 {
    width: 110px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 18px;
    left: 179px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Alibaba PuHuiTi 2.0;
    font-weight: 45 Light;
    font-size: 36px;
    opacity: 1;
    text-align: left;

}
/*导航栏 SEASON 1 字样*/
.v5_212 {
    position: absolute;
    width: 172px;
    height: 0px;
    left: 322px;
    top: 41px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    opacity: 1;
    text-align: left;
    font-family: Alibaba PuHuiTi 2.0;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 0px;
    -webkit-text-stroke: 2px #101010;
    user-select:none
}
/*导航栏 Home 字样*/
.v5_178 {
    width: 67px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 30px;
    left: 830px;
    font-family: Alibaba PuHuiTi 2.0;
    font-weight: 45 Light;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.v5_178:hover{
    color:white;
    text-shadow: 0 0 3px black;
}
/*导航栏 Vote 字样*/
.v5_179 {
    width: 49px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 30px;
    left: 1020px;
    font-family: Alibaba PuHuiTi 2.0;
    font-weight: 45 Light;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.v5_179:hover{
    color:white;
    text-shadow: 0 0 3px black;
}
/*导航栏 Museum 字样*/
.v5_180 {
    width: 95px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 30px;
    left: 1353px;
    font-family: Alibaba PuHuiTi 2.0;
    font-weight: 45 Light;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.v5_180:hover{
    color:white;
    text-shadow: 0 0 3px black;
}
/*导航栏 Market 字样*/
.v5_182 {
    width: 75px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 30px;
    left: 1185px;
    font-family: Alibaba PuHuiTi 2.0;
    font-weight: 45 Light;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.v5_182:hover{
    color:white;
    text-shadow: 0 0 3px black;
}

/*导航栏Home按钮*/
.v5_175 {
    position: absolute;
    width: 178px;
    height: 94px;
    left: 778px;
    top: -1px;
    background: #F8F8F8;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}
.v5_175:hover{
    background: rgba(222, 244, 248, 0.48);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
/*导航栏Vote按钮*/
.v5_176 {
    position: absolute;
    width: 178px;
    height: 94px;
    left: 956px;
    top: 0px;
    background: #F8F8F8;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}
.v5_176:hover{
    background: rgba(222, 244, 248, 0.48);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
/*导航栏Market按钮*/
.v5_181 {
    position: absolute;
    width: 178px;
    height: 94px;
    left: 1134px;
    top: 0px;
    background: #F8F8F8;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}
.v5_181:hover{
    background: rgba(222, 244, 248, 0.48);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
/*导航栏Museum按钮*/
.v5_177 {
    position: absolute;
    width: 178px;
    height: 94px;
    left: 1312px;
    top: -1px;
    background: #F8F8F8;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.v5_177:hover{
    background: rgba(222, 244, 248, 0.48);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
/*导航栏最右侧 账户按钮*/
.v5_183 {
    width: 50px;
    height: 50px;
    background: url("images/v5_105.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 21px;
    left: 1568px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 21px rgba(0, 0, 0, 0.25);
}
.v5_183:hover{
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
/*导航栏图标*/
.v5_184 {
    width: 50px;
    height: 50px;
    background: url("images/v5_184.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 119px;
    overflow: hidden;
}


/*=================本页相关================*/
/*图片底部阴影*/
.v5_336 {
    width: 325px;
    height: 54px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 492px;
    left: 169px;
    border-radius: 50%;
}
/*图片底部阴影*/
.v5_337 {
    width: 325px;
    height: 54px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 492px;
    left: 934px;
    border-radius: 50%;
}
/*图片底部阴影*/
.v5_338 {
    width: 325px;
    height: 54px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 980px;
    left: 933px;
    border-radius: 50%;
}
/*图片底部阴影*/
.v5_339 {
    width: 325px;
    height: 54px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 975px;
    left: 169px;
    border-radius: 50%;
}

/*皮卡丘图片*/
.v5_340 {
    width: 272px;
    height: 359px;
    background: url("images/v5_151.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 151px;
    left: 195px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 40px rgba(0.9544817805290222, 0.7024141550064087, 0.054240882396698, 1);
    overflow: hidden;
}
.v5_340:hover{
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}

/*蓝色图片*/
.v5_341 {
    width: 272px;
    height: 359px;
    background: url("images/v5_152.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 631px;
    left: 195px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 40px rgba(0.49588948488235474, 0.3790789246559143, 1, 1);
    overflow: hidden;
}
.v5_341:hover{
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}

/*日本仕女图*/
.v5_342 {
    width: 272px;
    height: 359px;
    background: url("images/girl.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 151px;
    left: 960px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 40px rgba(0.49588948488235474, 0.3790789246559143, 1, 1);
    overflow: hidden;
}
.v5_342:hover{
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}

/*印象派人物画*/
.v5_343 {
    width: 272px;
    height: 359px;
    background: url("images/v5_157.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 634px;
    left: 960px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 40px rgba(0.49588948488235474, 0.3790789246559143, 1, 1);
    overflow: hidden;
}
.v5_343:hover{
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}



/*信息框1*/
.v5_344 {
    position: absolute;
    width: 310px;
    height: 191px;
    left: 520px;
    top: 319px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    background: url("images/library_info.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/*信息框2*/
.v5_345 {
    position: absolute;
    width: 310px;
    height: 191px;
    left: 1275px;
    top: 319px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    background: url("images/library_info.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/*信息框3*/
.v5_346 {
    position: absolute;
    width: 310px;
    height: 191px;
    left: 520px;
    top: 784px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    background: url("images/library_info.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/*信息框4*/
.v5_347 {
    position: absolute;
    width: 310px;
    height: 191px;
    left: 1275px;
    top: 802px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    background: url("images/library_info.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/*===========左侧搜索栏相关=================*/
/*左侧搜索按钮*/
.v5_118 {
    position: absolute;
    width: 79px;
    height: 81px;
    left: 0px;
    top: 151px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    -webkit-appearance: none;
    appearance: none;
}
.v5_118:hover{
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}
/*左侧搜索按钮 三角形图标*/
.v5_132 {
    position: absolute;
    left: 30px;
    top: 176px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-left: 32px solid #7D7D7D;
    border-bottom: 16px solid transparent;
}
/*左侧搜索按钮动作*/
.v5_118:checked + aside {
    left: 0;
}
body > aside {
    position: absolute;
    top: 180px;
    bottom: 0;
    left: -339px;
    transition: 0.2s ease-out;
    opacity: 0.98;
    -webkit-transition: 0.2s ease-out;
    width: 339px;
    height: 850px;
    background: #FFFFFF;
    border-radius: 0px 50px 50px 0px;
    background: url("images/Search.png");
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}
